 <div class="container-fluid content-background">
        <div class="row">
            <div class="col-md-12">
                <div class="content-block topmost">
                    <p><%= raw @page.content_for(:header) %></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="content-block">
                    <!-- @todo -->
                    <!-- Title <persons name>-->
                    <h1>Title Column</h1>
                    <!--!-->
                    <p>text column</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-block">
                    <!-- @todo -->
                    <!-- images for the person-->
                    <p>image column</p>
                </div>
            </div>
	         <div class="col-md-4">
                <div class="content-block">
                    <!-- @todo -->
                    <!-- add the contact form here hint:use the enquiry plugin -->
                    <p>image column</p>
                </div>
            </div>
        </div>
	<div class="row">
            <div class="col-md-4">
                <div class="content-block">
                    <!-- @todo -->
                    <!-- Title <persons name>-->
                    <h1>Title Column</h1>
                    <!--!-->
                    <p>text column</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-block">
                    <!-- @todo -->
                    <!-- images for the person-->
                    <p>image column</p>
                </div>
            </div>
	    <div class="col-md-4">
                <!-- Empty Block -->
            </div>
        </div>
	<div class="row">
            <div class="col-md-4">
                <div class="content-block">
                    <!-- @todo -->
                    <!-- Title <persons name>-->
                    <h1>Title Column</h1>
                    <!--!-->
                    <p>text column</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-block">
                    <!-- @todo -->
                    <!-- images for the person-->
                    <p>image column</p>
                </div>
            </div>
	    <div class="col-md-4">
                <div class="content-block">
                    <!-- @todo -->
                    <!-- Email us block -->
                </div>
            </div>
        </div>


    </div>
