%ul.nav.navbar-nav.pull-right.going-down#arab-menu{"style" => "display: none;"}
  %li#home-link.link.first.arab-li
    %a{:href => "/?lang=arb"} منزل
  %li#posts-link.link.arab-li
    %a{:href => "/posts?lang=arb"} الاخبار
  %li#skatepal-story-link.link.arab-li
    %a{:href => "/skatepal-story?lang=arb"} معلومات حولنا
  %li#projects-link.link.arab-li
    %a{:href => "/projects?lang=arb"} المشاريع
  %li#team-link.link.arab-li
    %a{:href => "/team?lang=arb"} الفريق
  %li#videos-link.link.arab-li
    %a{:href => "/videos?lang=arb"} مقاطع الفيديو
  %li#donate
    %form{"method" => "post" , "action" => "https://www.paypal.com/cgi-bin/webscr"}
      %input{:type => "hidden" , "value" => "_donations" , "name" => "cmd"}
      %input{:type => "hidden" , "value" => "charliedavis87@gmail.com" , "name" => "business"}
      %input{:type => "hidden" , "value" => "0" , "name" => "no_note"}
      %input{:type => "hidden" , "value" => "GBP" , "name" => "currency_code"}
      %input{:type => "hidden" , "value" => "PP-DonationsBF:btn_donateCC_LG_gif:NonHostedGuest" , "name" => "bn"}
      %input.submit-link{:type => "submit" , "value" => "تبرع"}
  %li#eng-link
    %small
      %a{:href => "#"} English
  %li#arb-link.link.last 
    %small
      %a{:href => "#"} العربية


