{% for project in contents.featured_projects %}
.col-md-4.a-project
  .content-block
    .featured-list-hover.eng-lang
      %a{:href => "projects/{{project.title | downcase | dasherize }}"}
        %h4.project-title {{ project.title | escape}}
      %small.project-location {{ project.location | escape}}
    %img.post-featured-image.img-responsive{:src => "{{ project.featured_image.url | resize: '350x300' }}", 
      :alt => "{{ project.title | escape }}"} 

    .featured-list-hover.arb-lang.hidden
      %a{:href => "projects/{{project.title_ar | downcase | dasherize }}"}
        %h4.project-title {{ project.title_ar | escape}}
      %small.project-location {{ project.location_ar | escape}}
    %img.post-featured-image.img-responsive{:src => "{{ project.featured_image.url | resize: '350x300' }}", 
      :alt => "{{ project.title_ar | escape }}"} 
{% endfor %}
