{% for project in contents.featured_projects %}
.col-md-4.a-project
  .content-block
    %h4.project-title {{ project.title | escape}}
    %small.project-location {{ project.location | escape}}
    %img.post-featured-image.img-responsive{:src => "{{ project.featured_image.url }}", 
      :alt => "{{ project.title | escape }}"} 
{% endfor %}
