%script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js",
  type: "text/javascript"}


{{ 'bootstrap.min.js' | javascript_tag }}
{{ 'main.js' | javascript_tag }}

.container-fluid.footer
  %p.pull-left
    %small &copy; SkatePAL {{ now | localized_date: '%Y' }}
