!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "content-type"}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}
    %meta{charset: "utf-8"}
    %title {{ page.title }}

    -# @TODO: set this from the admin
    %meta{content: "SkatePAL", name: "SkatePAL"}

    /[if lt IE 9]
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>

    {{ 'application' | stylesheet_tag }}
    {{ 'font-awesome.min' | stylesheet_tag }}
