.row.logo_and_navbar
  .col-md-12
    %nav.navbar.navbar-default{:role => "navigation"}
      .container-fluid
        .navbar-header

          %button.navbar-toggle.collapsed{:type => "button",
            "data-toggle" => "collapse",
            "data-target" => "#navbar-collapse"}

            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar
              %span.icon-bar
          %a{"href" => "/"}
            %img.navbar-brand.img-responsive{:src => "/samples/skatepal_logo.png", "style" => "margin-top: -7px"}

        .collapse.navbar-collapse#navbar-collapse
          %ul.nav.navbar-nav.pull-right.going-down
            {% nav 'site', no_wrapper: true, active_class: "active" %}
            %li#donate
              %form{"method" => "post" , "action" => "https://www.paypal.com/cgi-bin/webscr"}
                %input{:type => "hidden" , "value" => "_donations" , "name" => "cmd"}
                %input{:type => "hidden" , "value" => "charliedavis87@gmail.com" , "name" => "business"}
                %input{:type => "hidden" , "value" => "0" , "name" => "no_note"}
                %input{:type => "hidden" , "value" => "GBP" , "name" => "currency_code"}
                %input{:type => "hidden" , "value" => "PP-DonationsBF:btn_donateCC_LG_gif:NonHostedGuest" , "name" => "bn"}
                %input.submit-link{:type => "submit" , "value" => "Donate"}
            %li#eng-link
              %a{:href => "#"} English|
            %li#arb-link.link.last 
              %a{:href => "#"} العربية
