{% for post in contents.posts %}
.a-post

  {% if post.featured_image.url %}
  %img.post-featured-image{:src => "{{ post.featured_image.url }}", 
       :alt => "{{ post.title | escape }}"}
  {% endif %}

  %h3.post-title
    %a{:href => "/posts/{{ post._slug }}"} {{ post.title | escape}}

  %small.post-posted-at Posted at: {{ post.posted_at | escape }}
  %small.post-tags Tags: {{ post.tags | escape }}
  %p.post-teaser {{ post.teaser | escape | truncatewords: 30, ""}}
  %small
    %a.post-read-more{:href => "/posts/{{ post._slug }}"} ... read more ...
{% endfor %}
