// vars
$break-medium: 768px

// styles
.logo_and_navbar
  margin-top        : 25px

.give-me-space
  padding-top: 10px
  padding-left: 0px

.contact-center
  margin-left: 40px

.trick-tips-grid
  margin-left: 33px
  margin-right: 30px

.trick-tips-grid .item
  margin-left: 5px
  margin-right: 5px

.trick-tips-grid .content-block
  padding: 10px 10px 10px 10px

#fixedsocial
  top               : 250px
  position          : fixed
  z-index           : 1000
  right             : 2px
  width             : 30px

#fixedsocial a
  color : black !important

.content-background
  background-color  : #f2f2f2
  padding-bottom: 20px

.content-block
  background-color  : white
  margin            : 10px 5px 5px 5px

.post-block
  background-color  : white
  margin            : 10px 5px 25px 5px
  
.content-block .img-responsive
  padding: 15px 15px 15px 15px

.team .img-responsive
  padding: 15px 15px 2px 15px

.content-block .member-name
  padding-left: 15px
  color: gray
  font-size: 0.9em
  padding-top: 5px
  padding-bottom: 10px
  font-family: 'Abel', sans-serif

.video-name
  font-family: 'Abel', sans-serif
  color: gray
  font-size: 0.9em
  margin: 0
  padding: 0

.content-block .project-title
  padding-left: 15px
  font-weight: bold
  font-size: 1.1em
  font-family: 'Oswald', sans-serif
  padding-top: 5px
  margin: 0
  color: #3f3f3f !important

.project-title a h4:hover
  color: red !important

.project-location
  padding-left: 15px
  word-wrap: break-word
  color: gray
  font-size: 0.8.8em
  margin-top: 0
  font-family: 'Abel', sans-serif

.contact-info p
  padding-left: 15px
  color: gray
  font-size: 0.9em
  margin: 0
  font-family: 'Abel', sans-serif

.contact-info .img-responsive
  padding-bottom: 5px
  
.project-info
  padding-left: 15px
  color: gray
  margin: 0
  font-size: 0.85em
  font-family: 'Abel', sans-serif

.post-info
  padding-left: 15px
  color: gray
  margin: 0
  font-size: 0.9em
  font-family: 'Abel', sans-serif

.topmost
  border-top        : 2px #e61c1c solid

.topmost p
  padding: 7px 7px 7px 7px
  color: red !important
  font-weight: bold
  font-size: 1.3em
  font-family: 'Abel', sans-serif

.carousel-holder
  padding: 15px

.post-title
  padding-left: 15px
  color: black
  font-size: 1.1em
  padding-top: 5px
  margin: 0
  font-family: 'Oswald', sans-serif

.post-date
  padding-left: 5px
  margin: 0
  font-size: 1.0em

.post-posted-at
  margin-top: 0
  padding-top: 0
  padding-bottom: 5px
  padding-left: 5px

.a-post, .see-all
  padding: 5px 5px 5px 5px
  margin: 5px 5px 5px 5px

.see-all
  font-size: 0.9em

.a-post .read-more
  display: block
  padding-top: 5px
  padding-left: 15px

.tooltip .fade .left .in
  color: red

.navbar-default
  box-shadow: none
  -webkit-box-shadow: none
  background-image: none
  background-color: white
  border-color: white
  margin: 0

.post-posted-at, .post-tags
  display: block

.post-tags
  margin-bottom: 5px

.post-teaser
  margin-bottom: 1px
  display: inline

#homeslider
  margin-top:  10px

.home-left-content .content-block
  margin-left: 30px

.home-right-content .content-block
  margin-right: 30px

// when less than 768px, give left and right margins
// to the content-block on each side
@media screen and (max-width: $break-medium)
  .home-right-content .content-block
    margin-left: 30px

  .home-left-content .content-block
    margin-right: 30px

.footer
  margin-top: 15px

.content-padding
  padding-top: 10px

.about-img img
  padding: 15px 15px 15px 15px
  background-color: white

.about-img .col-md-7
  padding-right: 0 !important

.page-breadcrumb
  font-size: 1.5em
  color: red
  margin: 10px 10px 10px 10px
  font-family: 'Oswald', sans-serif
.contact-info *
  margin-top: 0

.contact-form td
  display: block

#filter
  padding-left: 10px
  font-family: 'Oswald', sans-serif

.arrange
  padding-top: 10px
  padding-bottom: 15px

#filter li
  list-style: none

#filter li a
  font-size: 0.9em
  display: block
  color: #5A5B5E
  margin-left: 10px

#filter li a:hover
  color: red

.about
  margin-left: 15px

.about p
  padding: 10px 10px 0px 10px
  font-family: 'Abel', sans-serif
#lang-link
  margin: 0
  padding: 0
  font-size: 0.8em

.project-images .float-img
  float: left

.project-images
  padding-left: 40px

.project-info, .project-extras
  padding-left: 15px
  padding-top: 10px

.project-info p
  padding: 0
  margin: 0
  color: black

.project-description p
  padding-left: 15px
  padding-top: 10px
  margin-right: 20px
  font-family: 'Abel', sans-serif

.project-extras
  margin-top: 20px

.textcol p
  font-size: 14px
  margin: 0 14px 14px 0
  padding: 0px 10px 10px 15px
  color: #5a5b5e
  font-family: 'Abel', sans-serif

.post-title p
  padding: 10px 10px 10px 10px

.post-title p a:hover
  color: red

.nav 
  font-family: 'Oswald', sans-serif
  font-size: 16px

.nav li a:hover
  color: red !important

.navbar-header img
  position: absolute
  top: -45px

.post-read-more a:hover
  color: red !important

.featured-list-hover a:hover 
  color: red !important

.featured-list-hover h4:hover 
  color: red !important

.project-map
  font-family: 'Oswald', sans-serif

.project-image-gallery
  font-family: 'Oswald', sans-serif

.project-share
  font-family: 'Oswald', sans-serif

#map-canvas
  padding-left: 50px !important
  height: 50%
  width: 100%

#hide
  padding-left: 0px !important

.submit-link
  background-color: transparent
  border: medium none
  margin-top: 23%
  color: red

#eng-link, #arb-link
  position:  relative
  top:       14.5px
  left:      3px
  font-size: 0.8em
  margin-right: 2px

#arb-link
  margin-left: 2px

.right-tagline
  margin-top:   -3px
  margin-right: 5px

.grid-team
  display: none
