// vars
$break-medium: 768px

// styles
.logo_and_navbar
  margin-top        : 25px

#fixedsocial
  top               : 250px
  position          : fixed
  z-index           : 1000
  right             : 2px
  width             : 30px

.content-background
  background-color  : #f2f2f2
  padding-bottom: 20px

.content-block
  background-color  : white
  margin            : 10px 5px 5px 5px
  
.content-block .img-responsive
  padding: 15px 15px 15px 15px

.team .img-responsive
  padding: 15px 15px 2px 15px

.content-block .member-name
  padding-left: 15px
  color: gray
  font-size: 0.9em
  padding-top: 5px
  padding-bottom: 10px

.content-block .project-title
  padding-left: 15px
  color: gray
  font-size: 0.9em
  padding-top: 5px
  margin: 0

.project-location
  padding-left: 15px
  color: gray
  font-size: 0.9em

.contact-info p
  padding-left: 15px
  color: gray
  font-size: 0.9em
  margin: 0

.contact-info .img-responsive
  padding-bottom: 5px
  
.project-info
  padding-left: 15px
  color: gray
  margin: 0
  font-size: 0.85em

.topmost
  border-top        : 2px #e61c1c solid

.topmost p
  padding: 7px 7px 7px 7px
  color: #3F3F3F
  font-weight: bold

.carousel-holder
  padding: 15px

.post-title
  margin-top: 3px
  margin-bottom: 0

.post-posted-at
  margin-top: 0
  padding-top: 0
  padding-bottom: 5px
  padding-left: 5px

.a-post, .see-all
  padding: 5px 5px 5px 5px
  margin: 5px 5px 5px 5px

.see-all
  font-size: 0.9em

.a-post .read-more
  display: block
  padding-top: 5px

.tooltip .fade .left .in
  color: red

.navbar-default
  box-shadow: none
  -webkit-box-shadow: none
  background-image: none
  background-color: white
  border-color: white
  margin: 0

.post-posted-at, .post-tags
  display: block

.post-tags
  margin-bottom: 5px

.post-teaser
  margin-bottom: 1px

.post-teaser
  display: inline

#homeslider
  margin-top:  10px

.home-left-content .content-block
  margin-left: 30px

.home-right-content .content-block
  margin-right: 30px

// when less than 768px, give left and right margins
// to the content-block on each side
@media screen and (max-width: $break-medium)
  .home-right-content .content-block
    margin-left: 30px

  .home-left-content .content-block
    margin-right: 30px

.footer
  margin-top: 15px

.content-padding
  padding-top: 10px

.about-img img
  padding: 15px 15px 15px 15px
  background-color: white

.about-img .col-md-7
  padding-right: 0 !important

.page-breadcrumb
  font-size: 1.5em
  color: red
  margin: 10px 10px 10px 10px

.contact-info *
  margin-top: 0

.contact-form td
  display: block

#filter
  padding-left: 10px

.arrange
  padding-top: 10px
  padding-bottom: 15px

#filter li
  list-style: none

#filter li a
  font-size: 0.9em
  display: block
  color: #5A5B5E
  margin-left: 10px

#filter li a:hover
  color: red

.about
  margin-left: 15px

.about p
  padding: 10px 10px 10px 10px

#lang-link
  margin: 0
  padding: 0
  font-size: 0.8em

.project-images .float-img
  float: left

.project-images
  padding-left: 40px

.project-info, .project-extras
  padding-left: 15px
  padding-top: 10px

.project-info p
  padding: 0
  margin: 0
  color: black

.project-description p
  padding-left: 15px
  padding-top: 10px
  margin-right: 20px

.project-extras
  margin-top: 20px

.textcol p
  font-size: 0.9em
  margin: 0 14px 14px 0
  padding: 0px 10px 10px 15px

.post-title p
  padding: 10px 10px 10px 10px
