---
title: Featured projects template
listed: false
published: true
content_type: "featured_projects"
---
{% extends parent %}

{% block 'head' %} 
%small.page-breadcrumb Projects -> {{ page.title }} 
{% endblock %}

{% block main %}
.row
  .col-md-8
    .col-md-4
      .content-block
        .project-stats
          stats
        .project-description
          description
    .col-md-8
      .content-block
        photos and stuff
  .col-md-3.sidebar
    .content-block
      sidebar crap
{% endblock %}
