---
title: Featured projects template
listed: false
published: true
content_type: "featured_projects"
---
{% extends parent %}

{% block 'head' %} 
%small.page-breadcrumb Projects -> {{ page.title }} 
{% endblock %}

{% block main %}
.row
  .col-md-8
    .col-md-4
      .content-block
        .project-stats
          %p Date: {{ featured_project.project_date }}
          %p Client: {{ featured_project.client }}
          %p Status: {{ featured_project.status }}
          %p Area: {{ featured_project.area }}
          %p Location: {{ featured_project.location }}
          %p Sector: {{ featured_project.sectors }}

        .project-description
          %p {{ featured_project.description }}
    .col-md-8
      .content-block
        photos and stuff
  .col-md-3.sidebar
    .content-block
      sidebar crap
{% endblock %}
