---
title: Contact
listed: true
published: true
---
{% extends 'index'%}
{% include 'header' %}

{% block 'head' %} 
%small.page-breadcrumb {{ page.title }} 
{% endblock %}

{% block 'main' %}
.row.content-padding
  .col-md-8
    .content-block
      -# including james,kev and charlie. That makes 3.
      {% for i in (1..3) %}      
      {% for contact in contents.contact_info %}

      %h3 {{ contact.name }}
      %h4 {{ contact.email }}
      %h5 {{ contact.number }}
      {{ contact.img.url | image_tag }}

      {% endfor %}
      {% endfor %}

  .col-md-4
    .content-block
      contact form
    
{% endblock %}

{% include 'footer' %}
