---
title: Contact
listed: true
published: true
---
{% extends 'index'%}
{% include 'header' %}

{% block 'head' %} 
%small.page-breadcrumb {{ page.title }} 
{% endblock %}

{% block 'main' %}
.row.content-padding
  .col-md-8
    {% for contact in contents.contact_info %}
    .col-md-3
      .content-block
        %h3 {{ contact.name }}
        %h4 {{ contact.email }}
        %h5 {{ contact.number }}
        {{ contact.img.url | image_tag: 'class:img-responsive'}}

    {% endfor %}

  .col-md-4
    .content-block
      contact form
    
{% endblock %}

{% include 'footer' %}
