---
title: Contact
listed: true
published: true
---
{% extends 'index'%}
{% include 'header' %}

{% block 'head' %} 
%small.page-breadcrumb {{ page.title }} 
{% endblock %}

{% block 'main' %}
.row.content-padding
  .col-md-12
    {% for contact in contents.contact_info %}
    .col-md-4
      .content-block.contact-info
        {{ contact.img.url | image_tag: 'class:img-responsive'}}
        %h3 {{ contact.name }}
        %h4 {{ contact.email }}
        %h5 {{ contact.number }}
    {% endfor %}
{% endblock %}

{% include 'footer' %}
