---
title: Contact
listed: true
published: true
position: 5
---
{% extends 'index'%}
{% include 'header' %}

{% block 'head' %} 
%small.page-breadcrumb {{ page.title }} 
{% endblock %}

{% block 'main' %}
.row.content-padding
  .col-md-12.contact-center
    {% for contact in contents.contact_info %}
    .col-md-4
      .content-block.contact-info
        {{ contact.img.url | image_tag: 'class:img-responsive'}}
        %p.c-name   {{ contact.name }}
        %p.c-email  {{ contact.email }}
        %p.c-number {{ contact.number }}
    {% endfor %}
{% endblock %}

{% include 'footer' %}
