---
title: Home
published: true
---
{% include 'header' %}

%body
  -# page container
  .container

    -# fixed sidebar social icons
    - ["facebook", "twitter", "youtube", "mail"].each do |social|
      %div#fixedsocial
        %div{:class => "#{social}flat"}
          %i{:class => "fa fa-#{social} fa-2x"}

    -# @TODO: navigation 

    -# @TODO: main body
    .container-fluid.content-background
      .row
        .col-md-12
          .content-block.topmost
            {% block 'header' %} 
            HEADER 
            {% endblock %}

      -# carousel
      .row
        .col-md-8
          .row
            .col-md-12
              .content-block
                CAROUSEL

          -# featured projects
          .row
            .col-md-12
              .content-block
                FEATURED

        -# blog sidebar
        .col-md-4
          .row
            .col-md-12
              .content-block
                SIDEBAR


    -# @TODO: get SASS javascript way working
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", type: "text/javascript"}
    {{ 'bootstrap.min.js' | javascript_tag }}

{% include 'footer' %}
