---
title: Home
listed: true
published: true
---
{% capture img_one %}{% editable_file 'img_one' %}{% endeditable_file %}{% endcapture %}

{% include 'header' %}

%body
  .container
    {% include 'navbar' %}

  .container
    %div#fixedsocial
      - ["facebook", "twitter", "youtube"].each do |social|
        %div{:class => "#{social}flat"}
          %i{:class => "fa fa-#{social} fa-2x",
            "data-toggle" => "tooltip",
            "title" => "Join us on #{social}!"}

    .container-fluid.content-background
      .row.header
        .col-md-12
          .content-block.topmost
            {% block 'head' %}
            {% editable_text title, hint: "a title", format: raw, rows: 2 %}{% endeditable_text %}
            {% endblock %}

      {% block 'main' %}

      .row
        .col-md-8.home-left-content
          .row
            .col-md-12
              .content-block
                #homeslider{:class => "carousel slide", "data-ride" => "carousel"}
                  {% include 'carousel' with img_one %}

          .row
            .col-md-12
              {% include 'featured_list' %}

        .col-md-4.home-right-content
          .row
            .col-md-12
              .content-block
                {% include 'posts_list' %}

      {% endblock %}

    {% include 'footer' %}
