---
title: Home
published: true
---
{% include 'header' %}

%body
  .container
    .row.logo_and_navbar
      .col-md-3
        %p.pull-left LOGO

      .col-md-9
        %p.pull-right NAV BAR

  .container
    %div#fixedsocial
      - ["facebook", "twitter", "youtube", "mail"].each do |social|
        %div{:class => "#{social}flat"}
          %i{:class => "fa fa-#{social} fa-2x"}

    .container-fluid.content-background
      .row.header
        .col-md-12
          .content-block.topmost
            {% block 'header' %} 
            HEADER 
            {% endblock %}

      .row
        .col-md-8
          .row
            .col-md-12
              .content-block
                CAROUSEL

          .row
            .col-md-12
              .content-block
                FEATURED

        .col-md-4
          .row
            .col-md-12
              .content-block
                SIDEBAR

    {% include 'footer' %}
