---
title: Home
listed: true
published: true
---
{% block 'carousel' %}
{% capture carousel_img_one %}{% editable_file 'carousel_img_one' %}{% endeditable_file %}{% endcapture %}
{% capture carousel_img_two %}{% editable_file 'carousel_img_two' %}{% endeditable_file %}{% endcapture %}
{% capture carousel_img_three %}{% editable_file 'carousel_img_three' %}{% endeditable_file %}{% endcapture %}
{% endblock %}
{% include 'header' %}

%body
  .container
    {% include 'navbar' %}

  .container
    %div#fixedsocial
      %div.facebookflat
        %a{:href => "https://www.facebook.com/SkatePalestine"}
          %i{:class => "fa fa-facebook fa-2x",
            "data-toggle" => "tooltip",
            "title" => "Join us on Facebook!"}
      %div.twitterflat
        %a{:href => "https://twitter.com/Skate_PAL"}
          %i{:class => "fa fa-twitter fa-2x",
            "data-toggle" => "tooltip",
            "title" => "Join us on Twitter!"}
      %div.youtubeflat
        %a{:href => "http://www.youtube.com/user/SkatePalestine"}
          %i{:class => "fa fa-youtube fa-2x",
            "data-toggle" => "tooltip",
            "title" => "Join us on Youtube!"}

    %script get_tooltips();

    .container-fluid.content-background
      .row.header
        .col-md-12
          .content-block.topmost
            {% block 'head' %}
            %p.eng-lang
              {% editable_text title, hint: "Tagline in English", format: raw, rows: 2 %}{% endeditable_text %}
            %p.arb-lang.hidden
              {% editable_text title, hint: "Tagline in Arabic", format: raw, rows: 2 %}{% endeditable_text %}
            {% endblock %}

      {% block 'main' %}

      .row
        .col-md-8.home-left-content
          .row
            .col-md-12
              .content-block.carousel-holder
                #homecarousel{:class => "carousel slide", "data-ride" => "carousel"}
                  {% include 'carousel' with carousel_image_one, carousel_image_two, carousel_image_three %}

          .row
            .col-md-12
              {% include 'featured_list' %}

        .col-md-4.home-right-content
          .row
            .col-md-12
              .content-block
                {% include 'posts_list' %}

      {% endblock %}

    {% include 'footer' %}
