---
title: Home
position: 1
listed: true
published: true
---
{% include 'header' %}

%body
  .container
    .row.logo_and_navbar
      .col-md-3
        %p.pull-left LOGO

      .col-md-9
        %nav.navbar.navbar-default{:role => "navigation"}
          .container-fluid
            .navbar-header

              %button.navbar-toggle.collapsed{:type => "button",
                "data-toggle" => "collapse",
                "data-target" => "#navbar-collapse"}

              %span.sr-only Toggle Navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

              %a.navbar-brand{:href => "#"} Brand

            .collapse.navbar-collapse#navbar-collapse
              %ul.nav.navbar-nav.pull-right
                {% nav 'site', no_wrapper: true, active_class: "active" %}

  .container
    %div#fixedsocial
      - ["facebook", "twitter", "youtube"].each do |social|
        %div{:class => "#{social}flat"}
          %i{:class => "fa fa-#{social} fa-2x",
            "data-toggle" => "tooltip",
            "title" => "Join us on #{social}!"}

    .container-fluid.content-background
      .row.header
        .col-md-12
          .content-block.topmost
            {% block 'head' %}
            {% editable_text title, hint: "a title", format: raw, rows: 2 %}{% endeditable_text %}
            {% endblock %}

      {% block 'main' %}

      .row
        .col-md-8
          .row
            .col-md-12
              .content-block
                CAROUSEL

          .row
            .col-md-12
              .content-block
                FEATURED

        .col-md-4
          .row
            .col-md-12
              .content-block
                BLOG POSTS -- @TODO: add content type

      {% endblock %}

    {% include 'footer' %}
