---
title: Home
published: true
---
!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "content-type"}
    %meta{charset: "utf-8"}
    %title {{ page.title }}
    %meta{content: "SkatePAL", name: "SkatePAL"}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}

    -# @TODO: get SASS working
    -# @TODO: add font-awesome
    {{ 'application.css.sass' | stylesheet_tag }}
  %body
    .container

      -# fixed sidebar social icons
      - ["facebook", "twitter", "youtube", "mail"].each do |social|
        %div#fixedsocial
          %div{:class => "#{social}flat"}
            %i{:class => "fa fa-#{social} fa-2x"}

      -# @TODO: navigation 

      -# @TODO: main body
      .container-fluid.content-background
        .row
          .col-md-12
            .content-block.topmost
              {% block 'header' %} 
              HEADER 
              {% endblock %}

        .row
          .col-md-8
            .row
              .col-md-12
                .content-block
                  CAROUSEL
            .row
              .col-md-12
                .content-block
                  FEATURED

          .col-md-4
            .row
              .col-md-12
                .content-block
                  SIDEBAR

      .container-fluid.footer
        %p.pull-left
          %small COPYRIGHT

      -# @TODO: get SASS javascript way working
      {{ 'bootstrap.min.js' | javascript_tag }}
