---
title: News
listed: true
published: true
position: 1
---


-# init the filters array
%script var filters = [];

-# for each project, push each field onto 'fs'
{% for post in contents.posts %}
:javascript
  // we are hacking this in here because we do the filtering
  // magic before main.js loads. It sucks, we know.
  function is_lang(lang){
      if(lang === "en"){lang = undefined;}
      var sPageURL = window.location.search.substring(1);
      var sURLVariable = sPageURL.split('=');
      return sURLVariable[1] === lang;
  }

  if(!is_lang('arb')){
    filters.push({
    "Year":   "{{ post.posted_at | localized_date: '20%y' }}"
    });
  }else{
    filters.push({
    "عام":   "{{ post.posted_at | localized_date: '20%y' }}"
    });
  }
{% endfor %}

{% extends parent %}

{% block 'carousel' %}
//do nothing
{% endblock %}
{% block 'head' %} 
%small.page-breadcrumb.eng-lang {{ page.title }} 
%small.page-breadcrumb.arb-lang.hidden الاخبار

%p.pull-right.right-tagline.eng-lang
  {% editable_text English-Tagline, hint: "English tagline which appears at the top right hand of the page.", format: raw, rows: 2 %}{% endeditable_text %}
%p.pull-right.right-tagline.arb-lang.hidden
  {% editable_text Arabic-Tagline, hint: "Arabic tagline which appears at the top right hand of the page.", format: raw, rows: 2 %}{% endeditable_text %}

{% endblock %}

{% block main %}

.row
  .col-md-3.filter-column
    .content-block
      %ul#filter
        -# we create this list from main.js
        -# by writing unique filters to the DOM
        %li 
          %li.arrange.eng-lang
            Arrange by
            %a.active{:href => "#", "data-filter" => "*"} All
          %li.arrange.arb-lang.hidden
            الترتيب بواسطة
            %a.active{:href => "#", "data-filter" => "*"} الجميع
        %script write_filters(dedup(filters));

  .col-md-9
    #grid
      {% for post in contents.posts %}
      {% capture posted_at %} 
      {{post.posted_at | localized_date: "20%y"}} 
      {% endcapture %}
      .col-md-3.item{:class => "{{posted_at}}"} 
        .content-block.eng-lang
          %p.post-title {{ post.title }}
          %p.post-info {{ post.posted_at | localized_date: '%m/%d/%y' }}
          .post-info 
            %p
            %p {{post.body | escape | truncatewords: 25, "" }}
            .post-read-more
              %a{:href => "/posts/{{ post._slug }}"} Read full article here
          {{ post.featured_image.url | image_tag: 'class:img-responsive'}}

        .content-block.arb-lang.hidden
          %p.post-title {{ post.title_ar }}
          %p.post-info {{ post.posted_at | localized_date: '%m/%d/%y' }}
          .post-info 
            %p
            %p {{post.body_ar | escape | truncatewords: 25, "" }}
            .post-read-more
              %a{:href => "/posts/{{ post._slug }}"} قراءة المقال كاملا هنا
          {{ post.featured_image.url | image_tag: 'class:img-responsive'}}
      {% endfor %}
      :javascript
        get_layout(45, 50);    
{% endblock %}
