---
title: Projects
listed: true
published: true
---

-# init the filters array
%script var filters = [];

-# for each project, push each field onto 'fs'
{% for project in contents.featured_projects %}
%script
  filters.push({
  "Client":   "{{ project.client }}", 
  "Status":   "{{ project.status }}", 
  "Area":     "{{ project.area }}", 
  "Location": "{{ project.location }}", 
  "Sector":   "{{ project.sectors }}"
  });
{% endfor %}


{% extends 'index'%}

{% block 'head' %} 
%small.page-breadcrumb {{ page.title }} 
{% endblock %}

{% block 'main' %}
.row
  .col-md-3.filter-column
    .content-block
      %ul#filter
        -# we create this list from main.js
        -# by writing unique filters to the DOM
        %li 
          %li.arrange 
            Arrange by
        %script write_filters(dedup(filters));

  .col-md-9
    #grid
      {% for project in contents.featured_projects %}
      .col-md-3.item{"data-groups" => '["all", "{{project.client}}", "{{project.status}}", "{{project.area}}", "{{project.location}}", "{{project.sectors}}"]'} 
        .content-block
          {{ project.project_image.url | image_tag: 'class:img-responsive'}}
          %p.project-title {{ project.title }} {{ project.location }}
      {% endfor %}
      :javascript
        get_masonry(45, 50, {columnwidth:30, gutter:5});
{% endblock %}

{% include 'footer' %}
