---
title: Projects
listed: true
published: true
position: 3
---

-# init the filters array
%script var filters = [];

{% for project in contents.featured_projects %}
:javascript
  // we are hacking this in here because we do the filtering
  // magic before main.js loads. It sucks, we know.
  function is_lang(lang){
      if(lang === "en"){lang = undefined;}
      var sPageURL = window.location.search.substring(1);
      var sURLVariable = sPageURL.split('=');
      return sURLVariable[1] === lang;
  }

  if(is_lang('arb')){
    filters.push({
      "العميل":   "{{ project.client_ar }}",
      "الحالة":   "{{ project.status_ar }}",
      "المنطقة":  "{{ project.area_ar }}",
      "المكان":   "{{ project.location_ar }}",
      "التاريخ":  "{{ project.project_date | localized_date: "20%y" }}",
      "القطاع":   "{{ project.sectors_ar }}"
    });
  }else{
    filters.push({
      "Client":   "{{ project.client }}",
      "Status":   "{{ project.status }}",
      "Area":     "{{ project.area }}",
      "Location": "{{ project.location }}",
      "Date":     "{{ project.project_date | localized_date: "20%y" }}",
      "Sector":   "{{ project.sectors }}"
    });
  }
{% endfor %}

{% extends 'index'%}

{% block 'carousel' %}
//do nothing
{% endblock %}

{% block 'head' %}
%small.page-breadcrumb {{ page.title }}
%small.page-breadcrumb.arb-lang.hidden المشروع

%p.pull-right.right-tagline.eng-lang
  {% editable_text English-Tagline, hint: "English tagline which appears at the top right hand of the page.", format: raw, rows: 2 %}{% endeditable_text %}
%p.pull-right.right-tagline.arb-lang.hidden
  {% editable_text Arabic-Tagline, hint: "Arabic tagline which appears at the top right hand of the page.", format: raw, rows: 2 %}{% endeditable_text %}

{% endblock %}

{% block 'main' %}
.row
  .col-md-3.filter-column
    .content-block
      %ul#filter
        -# we create this list from main.js
        -# by writing unique filters to the DOM
        %li
          %li.arrange.eng-lang
            Arrange by
            %a.active.eng-lang{:href => "#", "data-filter" => "*"} All

          %li.arrange.arb-lang.hidden
            الترتيب بواسطة
            %a.active.arb-lang.hidden{:href => "#", "data-filter" => "*"} الجميع
        %script write_filters(dedup(filters));

  .col-md-9
    %p.loading-block
      Loading, please wait ....
    #grid.grid-load
      {% for project in contents.featured_projects %}

      {% capture client %} 
      {{project.client | dasherize | downcase}} 
      {% endcapture %}

      {% capture client_ar %} 
      {{project.client_ar | dasherize | downcase}} 
      {% endcapture %}

      {% capture status %} 
      {{project.status | dasherize | downcase}} 
      {% endcapture %}

      {% capture status_ar %} 
      {{project.status_ar | dasherize | downcase}} 
      {% endcapture %}

      {% capture area %} 
      {{project.area | dasherize | downcase}} 
      {% endcapture %}

      {% capture area_ar %} 
      {{project.area_ar | dasherize | downcase}} 
      {% endcapture %}

      {% capture location %} 
      {{project.location | dasherize | downcase | remove: ","}} 
      {% endcapture %}

      {% capture location_ar %} 
      {{project.location_ar | dasherize | downcase}} 
      {% endcapture %}

      {% capture sector %} 
      {{project.sectors | dasherize | downcase}} 
      {% endcapture %}

      {% capture sector_ar %} 
      {{project.sectors_ar | dasherize | downcase}} 
      {% endcapture %}

      {% capture project_date %} 
      {{project.project_date | localized_date: "20%y"}} 
      {% endcapture %}

      .col-md-3.item{:class => "{{client}} {{client_ar}} {{status}} {{status_ar}} {{area}} {{area_ar}} {{location}} {{location_ar}} {{project_date}} {{sector}} {{sector_ar}}" }
        .content-block
          %a{:href => "/projects/{{ project._slug }}"}
            %p.project-title.eng-lang {{ project.title }}
            %p.project-info.eng-lang {{ project.location }} | {{ project.sectors }}

            // Arabic translations
          %a.arb-lang.hidden{:href => "/projects/{{ project._slug }}?lang=arb"}
            %p.project-title.arb-lang.hidden {{ project.title_ar }}
            %p.project-info.arb-lang.hidden {{ project.location_ar }} | {{ project.sectors_ar }}

          {{ project.featured_image.url | image_tag: 'class:img-responsive'}}
      {% endfor %}
      :javascript
        get_layout(45, 50);
{% endblock %}
{% include 'footer' %}
