---
title: Projects
listed: true
published: true
---

-# init the filters array
%script var fs = [];

-# for each project, push each field onto 'fs'
{% for project in contents.featured_projects %}
%script
  fs.push(
  "{{ project.client }}", "{{ project.status }}", 
  "{{ project.area }}", "{{ project.location }}", 
  "{{ project.sectors }}"
  );
{% endfor %}

-# remove duplicates
%script
  fs = fs.filter(function(v, i, a){return a.indexOf (v) == i});
  // filters then displayed from main.js

{% extends 'index'%}

{% block 'head' %} 
%small.page-breadcrumb {{ page.title }} 
{% endblock %}

{% block 'main' %}
.row
  .col-md-3.filter-column
    .content-block
      %h5 
        %p Arrange by:
        %ul.filters
          -# we create this list from main.js
          -# by writing unique filters to the DOM

  .col-md-9
    .content-block
      projects column

{% endblock %}

{% include 'footer' %}
