---
title: Projects
listed: true
published: true
---
{% extends 'index'%}

{% block 'head' %} 
%small.page-breadcrumb {{ page.title }} 
{% endblock %}

{% block 'main' %}
.row
  .col-md-3
    .content-block
      filter column
  .col-md-9
    .content-block
      projects column
{% endblock %}

{% include 'footer' %}
