---
title: Projects
listed: true
published: true
---
{% extends 'index'%}

{% block 'head' %} 
%small.page-breadcrumb {{ page.title }} 
{% endblock %}

{% block 'main' %}
.row
  .col-md-3.filter-column
    .content-block
      %h5 
        %p Arrange by:
        %ul
          %li Location:
          {% for selector in contents.featured_projects %}
          %li {{ selector.location }}
          {% endfor %}
  .col-md-9
    .content-block
      projects column
{% endblock %}

{% include 'footer' %}
