---
title: Projects
listed: true
published: true
position: 3
---

-# init the filters array
%script var filters = [];

  -# if(is_lang('arb')){
  -#   {% for project in contents.featured_projects %}
  -#     filters.push({
  -#       "Client-AR":   "{{ project.client_ar }}",
  -#       "Status-AR":   "{{ project.status_ar }}",
  -#       "Area-AR":     "{{ project.area_ar }}",
  -#       "Location-AR": "{{ project.location_ar }}",
  -#       "Date-AR":     "{{ project.project_date | localized_date: "20%y" }}",
  -#       "Sector-AR":   "{{ project.sectors_ar }}"
  -#     });
  -#   {% endfor %}
  -# }else{
  -#   {% for project in contents.featured_projects %}
  -#     filters.push({
  -#       "Client":   "{{ project.client }}",
  -#       "Status":   "{{ project.status }}",
  -#       "Area":     "{{ project.area }}",
  -#       "Location": "{{ project.location }}",
  -#       "Date":     "{{ project.project_date | localized_date: "20%y" }}",
  -#       "Sector":   "{{ project.sectors }}"
  -#     });
  -#   {% endfor %}
  -# }

{% extends 'index'%}

{% block 'carousel' %}
//do nothing
{% endblock %}

{% block 'head' %}
%small.page-breadcrumb {{ page.title }}
{% endblock %}

{% block 'main' %}
.row
  .col-md-3.filter-column
    .content-block
      %ul#filter
        -# we create this list from main.js
        -# by writing unique filters to the DOM
        %li
          %li.arrange
            Arrange by
            %a.active{:href => "#", "data-filter" => "*"} All

          %li.arrange.dyn-lang
            Arrange by - AR
            %a.active.dyn-lang{:href => "#", "data-filter" => "*"} All - AR
        %script write_filters(dedup(filters));

  .col-md-9
    #grid
      {% for project in contents.featured_projects %}

      {% capture client %} 
      {{project.client | dasherize | downcase}} 
      {% endcapture %}

      {% capture client_ar %} 
      {{project.client_ar | dasherize | downcase}} 
      {% endcapture %}

      {% capture status %} 
      {{project.status | dasherize | downcase}} 
      {% endcapture %}

      {% capture status_ar %} 
      {{project.status_ar | dasherize | downcase}} 
      {% endcapture %}

      {% capture area %} 
      {{project.area | dasherize | downcase}} 
      {% endcapture %}

      {% capture area_ar %} 
      {{project.area_ar | dasherize | downcase}} 
      {% endcapture %}

      {% capture location %} 
      {{project.location | dasherize | downcase}} 
      {% endcapture %}

      {% capture location_ar %} 
      {{project.location_ar | dasherize | downcase}} 
      {% endcapture %}

      {% capture sector %} 
      {{project.sectors | dasherize | downcase}} 
      {% endcapture %}

      {% capture sector_ar %} 
      {{project.sectors_ar | dasherize | downcase}} 
      {% endcapture %}

      {% capture project_date %} 
      {{project.project_date | localized_date: "20%y"}} 
      {% endcapture %}

      .col-md-3.item{:class => "{{client}} {{client_ar}} {{status}} {{status_ar}} {{area}} {{area_ar}} {{location}} {{location_ar}} {{project_date}} {{sector}} {{sector_ar}}" }
        .content-block
          %a{:href => "/projects/{{ project._slug }}"}
            %p.project-title {{ project.title }}
            %p.project-info {{ project.location }} | {{ project.sectors }}

            // Arabic translations
            %p.project-title.dyn-lang {{ project.title_ar }}
            %p.project-info.dyn-lang {{ project.location_ar }} | {{ project.sectors_ar }}

          {{ project.featured_image.url | image_tag: 'class:img-responsive'}}
      {% endfor %}
      :javascript
        get_layout(45, 50);
{% endblock %}
{% include 'footer' %}
