---
title: SkatePAL Story
listed: true
published: true
---
{% extends 'index'%}
{% include 'header' %}

{% block 'head' %}
.row
  .col-md-4
    {% editable_text title, hint: "The description", format: raw, rows: 3 %}
    This text will describe the SkatePAL organisation
    {% endeditable_text %}

  .col-md-8 IMAGES
{% endblock %}

{% block 'main' %}
{% endblock %}

{% include 'footer' %}
