---
title: About us
listed: true
published: true
position: 2
---

{% capture img_one %}{% editable_file 'img_one' %}{% endeditable_file %}{% endcapture %}
{% capture img_two %}{% editable_file 'img_two' %}{% endeditable_file %}{% endcapture %}
{% capture img_three %}{% editable_file 'img_three' %}{% endeditable_file %}{% endcapture %}
{% capture img_four %}{% editable_file 'img_four' %}{% endeditable_file %}{% endcapture %}
{% capture img_five %}{% editable_file 'img_five' %}{% endeditable_file %}{% endcapture %}
{% capture img_six %}{% editable_file 'img_six' %}{% endeditable_file %}{% endcapture %}
{% capture img_seven %}{% editable_file 'img_seven' %}{% endeditable_file %}{% endcapture %}
{% capture img_eight %}{% editable_file 'img_eight' %}{% endeditable_file %}{% endcapture %}
{% capture img_nine %}{% editable_file 'img_nine' %}{% endeditable_file %}{% endcapture %}
{% capture img_ten %}{% editable_file 'img_ten' %}{% endeditable_file %}{% endcapture %}

{% extends 'index'%}

{% block 'carousel' %}
//do nothing
{% endblock %}

{% include 'header' %}

{% block 'head' %} 
%small.page-breadcrumb.eng-lang {{ page.title }} 
%small.page-breadcrumb.arb-lang.hidden معلومات حولنا

%p.pull-right.right-tagline.eng-lang
  {% editable_text English-Tagline, hint: "English tagline which appears at the top right hand of the page.", format: raw, rows: 2 %}{% endeditable_text %}
%p.pull-right.right-tagline.arb-lang.hidden
  {% editable_text Arabic-Tagline, hint: "Arabic tagline which appears at the top right hand of the page.", format: raw, rows: 2 %}{% endeditable_text %}
{% endblock %}

{% block 'main' %}
.row.content-padding
  .col-md-3
    .content-block.about
      %p.eng-lang
        {% editable_text English-About-Us-Text, hint: "The 'About us' text in English.", format: raw, rows: 3 %} {% endeditable_text %}
      %p.arb-lang.hidden
        {% editable_text Arabic-About-Us-Text, hint: "The 'About us' text in Arabic", format: raw, rows: 3 %} {% endeditable_text %}

  .col-md-9.about-img

    .col-md-7
      {% if img_one != '' %} {{ img_one | resize: '450x300#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '450x300#' | image_tag: 'class:img-responsive'}}
      {% endif %}

      {% if img_two != '' %} {{ img_two | resize: '450x300#' | image_tag: 'class:img-responsive'  }} {% else %}
      {{ 'samples/images.jpeg' | resize: '450x300#' | image_tag: 'class:img-responsive'  }}
      {% endif %}

    .col-md-5
      {% if img_three != '' %} {{ img_three | resize: '300x200#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '300x200#' | image_tag: 'class:img-responsive' }}
      {% endif %}

      {% if img_four != '' %} {{ img_four | resize: '300x200#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '300x200#' | image_tag: 'class:img-responsive' }}
      {% endif %}

      {% if img_five != '' %} {{ img_five | resize: '300x200#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '300x200#' | image_tag: 'class:img-responsive' }}
      {% endif %}

    .col-md-5
      {% if img_six != '' %} {{ img_six | resize: '300x200#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '300x200#' | image_tag: 'class:img-responsive' }}
      {% endif %}

      {% if img_seven != '' %} {{ img_seven | resize: '300x200#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '300x200#' | image_tag: 'class:img-responsive' }}
      {% endif %}

      {% if img_eight != '' %} {{ img_eight | resize: '300x200#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '300x200#' | image_tag: 'class:img-responsive' }}
      {% endif %}

    .col-md-7.give-me-space
      {% if img_nine != '' %} {{ img_nine | resize: '450x300#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '450x300#' | image_tag: 'class:img-responsive'}}
      {% endif %}

      {% if img_ten != '' %} {{ img_ten | resize: '450x300#' | image_tag: 'class:img-responsive'  }} {% else %}
      {{ 'samples/images.jpeg' | resize: '450x300#' | image_tag: 'class:img-responsive'  }}
      {% endif %}

{% endblock %}
{% include 'footer' %}
