---
title: About us
listed: true
published: true
position: 2
---

{% capture img_one %}{% editable_file 'img_one' %}{% endeditable_file %}{% endcapture %}
{% capture img_two %}{% editable_file 'img_two' %}{% endeditable_file %}{% endcapture %}
{% capture img_three %}{% editable_file 'img_three' %}{% endeditable_file %}{% endcapture %}
{% capture img_four %}{% editable_file 'img_four' %}{% endeditable_file %}{% endcapture %}
{% capture img_five %}{% editable_file 'img_five' %}{% endeditable_file %}{% endcapture %}

{% extends 'index'%}

{% block 'carousel' %}
//do nothing
{% endblock %}

{% include 'header' %}

{% block 'head' %} 
%small.page-breadcrumb {{ page.title }} 
{% endblock %}

{% block 'main' %}
.row.content-padding
  .col-md-3
    .content-block.about
      {% editable_text title, hint: "The description", format: raw, rows: 3 %}
      %p This text will describe the SkatePAL organisation
      {% endeditable_text %}

  .col-md-9.about-img

    .col-md-7
      {% if img_one != '' %} {{ img_one | resize: '450x300#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '450x300#' | image_tag: 'class:img-responsive'}}
      {% endif %}

      {% if img_two != '' %} {{ img_two | resize: '450x300#' | image_tag: 'class:img-responsive'  }} {% else %}
      {{ 'samples/images.jpeg' | resize: '450x300#' | image_tag: 'class:img-responsive'  }}
      {% endif %}

    .col-md-5
      {% if img_three != '' %} {{ img_three | resize: '300x200#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '300x200#' | image_tag: 'class:img-responsive' }}
      {% endif %}

      {% if img_four != '' %} {{ img_four | resize: '300x200#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '300x200#' | image_tag: 'class:img-responsive' }}
      {% endif %}

      {% if img_five != '' %} {{ img_five | resize: '300x200#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '300x200#' | image_tag: 'class:img-responsive' }}
      {% endif %}

{% endblock %}
{% include 'footer' %}
