---
title: SkatePAL Story
listed: true
published: true
position: 2
---
{% extends 'index'%}
{% include 'header' %}

{% block 'head' %}
.row
  .col-md-3
    {% editable_text title, hint: "The description", format: raw, rows: 3 %}
    {% endeditable_text %}

  .col-md-9 IMAGES
{% endblock %}

{% block 'main' %}
{% endblock %}

{% include 'footer' %}
