---
title: About us
listed: true
published: true
position: 2
---

{% capture img_one %}{% editable_file 'img_one' %}{% endeditable_file %}{% endcapture %}
{% capture img_two %}{% editable_file 'img_two' %}{% endeditable_file %}{% endcapture %}
{% capture img_three %}{% editable_file 'img_three' %}{% endeditable_file %}{% endcapture %}
{% capture img_four %}{% editable_file 'img_four' %}{% endeditable_file %}{% endcapture %}
{% capture img_five %}{% editable_file 'img_five' %}{% endeditable_file %}{% endcapture %}
{% capture img_six %}{% editable_file 'img_six' %}{% endeditable_file %}{% endcapture %}
{% capture img_seven %}{% editable_file 'img_seven' %}{% endeditable_file %}{% endcapture %}
{% capture img_eight %}{% editable_file 'img_eight' %}{% endeditable_file %}{% endcapture %}
{% capture img_nine %}{% editable_file 'img_nine' %}{% endeditable_file %}{% endcapture %}
{% capture img_ten %}{% editable_file 'img_ten' %}{% endeditable_file %}{% endcapture %}

{% extends 'index'%}

{% block 'carousel' %}
//do nothing
{% endblock %}

{% include 'header' %}

{% block 'head' %} 
%small.page-breadcrumb.en-lang {{ page.title }} 
%small.page-breadcrumb.arb-lang.hidden {{ page.title }} - AR
{% endblock %}

{% block 'main' %}
.row.content-padding
  .col-md-3
    .content-block.about
      %p
        {% editable_text title, hint: "The description", format: raw, rows: 3 %}
      %p 
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
      {% endeditable_text %}

  .col-md-9.about-img

    .col-md-7
      {% if img_one != '' %} {{ img_one | resize: '450x300#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '450x300#' | image_tag: 'class:img-responsive'}}
      {% endif %}

      {% if img_two != '' %} {{ img_two | resize: '450x300#' | image_tag: 'class:img-responsive'  }} {% else %}
      {{ 'samples/images.jpeg' | resize: '450x300#' | image_tag: 'class:img-responsive'  }}
      {% endif %}

    .col-md-5
      {% if img_three != '' %} {{ img_three | resize: '300x200#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '300x200#' | image_tag: 'class:img-responsive' }}
      {% endif %}

      {% if img_four != '' %} {{ img_four | resize: '300x200#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '300x200#' | image_tag: 'class:img-responsive' }}
      {% endif %}

      {% if img_five != '' %} {{ img_five | resize: '300x200#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '300x200#' | image_tag: 'class:img-responsive' }}
      {% endif %}

    .col-md-5
      {% if img_six != '' %} {{ img_six | resize: '300x200#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '300x200#' | image_tag: 'class:img-responsive' }}
      {% endif %}

      {% if img_seven != '' %} {{ img_seven | resize: '300x200#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '300x200#' | image_tag: 'class:img-responsive' }}
      {% endif %}

      {% if img_eight != '' %} {{ img_eight | resize: '300x200#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '300x200#' | image_tag: 'class:img-responsive' }}
      {% endif %}

    .col-md-7.give-me-space
      {% if img_nine != '' %} {{ img_nine | resize: '450x300#' | image_tag: 'class:img-responsive' }} {% else %}
      {{ 'samples/images.jpeg' | resize: '450x300#' | image_tag: 'class:img-responsive'}}
      {% endif %}

      {% if img_ten != '' %} {{ img_ten | resize: '450x300#' | image_tag: 'class:img-responsive'  }} {% else %}
      {{ 'samples/images.jpeg' | resize: '450x300#' | image_tag: 'class:img-responsive'  }}
      {% endif %}

{% endblock %}
{% include 'footer' %}
