---
title: Team
listed: true
published: true
position: 4
---

-# init the filters array
%script var filters = [];

-# for each project, push each field onto 'fs'
{% for member in contents.team %}
%script
  filters.push({
  "Team":   "{{ member.filter }}", 
  });
{% endfor %}

{% extends 'index'%}

{% block 'carousel' %}
//do nothing
{% endblock %}

{% include 'header' %}

{% block 'head' %}
{% endblock %}

{% block 'main' %}
.row
  .col-md-3.filter-column
    .content-block
      %ul#filter
        -# we create this list from main.js
        -# by writing unique filters to the DOM
        %li 
          %li.arrange 
            Arrange by
            %a.active{:href => "#", "data-filter" => "*"} All
        %script write_filters(dedup(filters));

  .col-md-9
    #grid
      {% for member in contents.team %}

      {% capture filter %} {{ member.filter | downcase | dasherize }} {% endcapture %}

      .item{:class => "{{filter}}"}
        .content-block.team
          {{ member.img.url | image_tag: 'class:img-responsive'}}
          %p.member-name {{ member.name }}
      {% endfor %}
      :javascript
        get_layout(20, 25);
{% endblock %}

{% include 'footer' %}
