---
title: Team
listed: true
published: true
position: 4
---

-# init the filters array
%script var filters = [];

-# for each project, push each field onto 'fs'
{% for member in contents.team %}
:javascript
  // we are hacking this in here because we do the filtering
  // magic before main.js loads. It sucks, we know.
  function is_lang(lang){
      if(lang === "en"){lang = undefined;}
      var sPageURL = window.location.search.substring(1);
      var sURLVariable = sPageURL.split('=');
      return sURLVariable[1] === lang;
  }
  if(!is_lang('arb')){
    filters.push({
    "Location":   "{{ member.filter }}", 
    });
  }else{
    filters.push({
    "المكان":   "{{ member.filter_ar }}", 
    });
  }
{% endfor %}

{% extends 'index'%}

{% block 'carousel' %}
//do nothing
{% endblock %}

{% include 'header' %}

{% block 'head' %}
%small.page-breadcrumb.eng-lang {{ page.title }} 
%small.page-breadcrumb.arb-lang.hidden الفريق

%p.pull-right.right-tagline.eng-lang
  {% editable_text title, hint: "English tagline", format: raw, rows: 2 %}{% endeditable_text %}
%p.pull-right.right-tagline.arb-lang.hidden
  {% editable_text title, hint: "Arabic tagline", format: raw, rows: 2 %}{% endeditable_text %}

{% endblock %}

{% block 'main' %}
.row
  .col-md-3.filter-column
    .content-block
      %ul#filter
        -# we create this list from main.js
        -# by writing unique filters to the DOM
        %li 
          %li.arrange.eng-lang
            Arrange by
            %a.active{:href => "#", "data-filter" => "*"} All

          %li.arrange.arb-lang.hidden
            الترتيب بواسطة
            %a.active{:href => "#", "data-filter" => "*"} الجميع
        %script write_filters(dedup(filters));

  .col-md-9
    #grid
      {% for member in contents.team %}

      {% capture filter %} {{ member.filter | downcase | dasherize }} {% endcapture %}

      .item{:class => "{{filter}} {{filter_ar}}"}
        .content-block.team
          {{ member.img.url | image_tag: 'class:img-responsive'}}
          %p.member-name {{ member.name }}
      {% endfor %}
      :javascript
        get_layout(20, 25);
{% endblock %}

{% include 'footer' %}
