---
title: Team
listed: true
published: true
---

{% extends 'index'%}
{% include 'header' %}

{% block 'head' %}
{% endblock %}

{% block 'main' %}
.row
  .col-md-3.filter-column
    .content-block
      %p Arrange by:
      %ul#filter
        %li 
          %a.active{:href => "#", "data-group" => "all"} All
        %li 
          %a{:href => "#", "data-group" => "dublin"} Dublin
        %li 
          %a{:href => "#", "data-group" => "cork"} Cork
        %li 
          %a{:href => "#", "data-group" => "scotland"} Scotland

#grid
  {% for member in contents.team %}
  .item{"data-groups" => '["all" , "{{ member.filter }}"]'}
    {{ member.img.url | image_tag: 'class:img-responsive'}}
    %p {{ member.name }}
  {% endfor %}
{% endblock %}

{% include 'footer' %}
