---
title: Team
listed: true
published: true
---

-# init the filters array
%script var filters = [];

-# for each project, push each field onto 'fs'
{% for member in contents.team %}
%script
  filters.push({
  "Location":   "{{ member.filter }}", 
  });
{% endfor %}

{% extends 'index'%}
{% include 'header' %}

{% block 'head' %}
{% endblock %}

{% block 'main' %}
.row
  .col-md-3.filter-column
    .content-block
      %ul#filter
        -# we create this list from main.js
        -# by writing unique filters to the DOM
        %li 
          %li.arrange 
            Arrange by
            %a.active{:href => "#", "data-group" => "all"} All
        %script write_filters(dedup(filters));

  .col-md-9
    #grid
      {% for member in contents.team %}
      .item{"data-groups" => '["all" , "{{ member.filter }}"]'}
        .content-block
          {{ member.img.url | image_tag: 'class:img-responsive'}}
          %p.member-name {{ member.name }}
      {% endfor %}
      :javascript
        get_masonry(20, 25, {columnwidth:20, gutter:10});
{% endblock %}

{% include 'footer' %}
