---
title: Trick tips
listed: true
published: true
position: 5
---

{% extends 'index'%}

{% block 'carousel' %}
//do nothing
{% endblock %}

{% include 'header' %}

{% block 'head' %} 
%small.page-breadcrumb {{ page.title }} 
{% endblock %}

{% block 'main' %}
.row.video-content-padding
  .col-md-12
    #grid.trick-tips-grid
      {% for video in contents.trick_tip %}
      .item
        .content-block
          %iframe.allowfullscreen{ "src" => "{{ video.url }}", "frameborder" => "0", "width" => "100%", "height" => "200"}
          %p.video-name{ "align" => "center"} {{ video.name }}
      {% endfor %}
      :javascript
        get_layout(28, 33);
{% endblock %}
{% include 'footer' %}
