title: Trick tips
---
listed: true
published: true
position: 5
---

-# init the filters array
%script var filters = [];

-# for each project, push each field onto 'fs'
{% for video in contents.trick_tip %}
:javascript
  // we are hacking this in here because we do the filtering
  // magic before main.js loads. It sucks, we know.
  function is_lang(lang){
      if(lang === "en"){lang = undefined;}
      var sPageURL = window.location.search.substring(1);
      var sURLVariable = sPageURL.split('=');
      return sURLVariable[1] === lang;
  }

  if(!is_lang('arb')){
    filters.push({
    "Type":   "{{ video.filter }}", 
    });
  }else{
    filters.push({
    "نوع":   "{{ video.filter_ar }}", 
    });
  }
{% endfor %}

{% extends 'index'%}

{% block 'carousel' %}
//do nothing
{% endblock %}

{% include 'header' %}

{% block 'head' %} 
%small.page-breadcrumb.eng-lang {{ page.title }} 
%small.page-breadcrumb.arb-lang.hidden مقاطع الفيديو

%p.pull-right.right-tagline.eng-lang
  {% editable_text title, hint: "English tagline", format: raw, rows: 2 %}{% endeditable_text %}
%p.pull-right.right-tagline.arb-lang.hidden
  {% editable_text title, hint: "Arabic tagline", format: raw, rows: 2 %}{% endeditable_text %}

{% endblock %}

{% block 'main' %}
.row.video-content-padding
  .col-md-3.filter-column
    .content-block
      %ul#filter
        %li
          %li.arrange.eng-lang
            Arrange by
            %a.active{:href => "#", "data-filter" => "*"} All
          %li.arrange.arb-lang.hidden
            الترتيب بواسطة
            %a.active{:href => "#", "data-filter" => "*"} الجميع
        %script write_filters(dedup(filters));
  .col-md-9
    #grid.trick-tips-grid
      {% for video in contents.trick_tip %}
      {% capture filter %} {{ video.filter | downcase | dasherize }} {% endcapture %}

      .item{:class => "{{filter}} {{filter_ar}}"}
        .content-block
          %iframe.allowfullscreen{ "src" => "{{ video.url }}", "frameborder" => "0", "width" => "100%", "height" => "200"}
          %p.video-name{ "align" => "center"} {{ video.name }}
      {% endfor %}
      :javascript
        get_layout(28, 30);
{% endblock %}
{% include 'footer' %}
