---
title: Posts template
listed: false
published: true
content_type: "posts"
---

{% extends parent %}

{% block 'head' %} 
%small.page-breadcrumb.eng-lang News > {{ post.title }}
%small.page-breadcrumb.arb-lang.hidden الاخبار > {{ post.title_ar }}

%p.pull-right.right-tagline.eng-lang
  {% editable_text title, hint: "English tagline", format: raw, rows: 2 %}{% endeditable_text %}
%p.pull-right.right-tagline.arb-lang.hidden
  {% editable_text title, hint: "Arabic tagline", format: raw, rows: 2 %}{% endeditable_text %}
{% endblock %}

{% block main %}

.row.content-padding
  .col-md-3
    .post-block.about
      .post-date
        %p {{ post.posted_at | localized_date: '%m.%d.%y' }}
      .textcol.eng-lang
        %p {{ post.body }}
      .textcol.arb-lang.hidden
        %p {{ post.body_ar }}
  .col-md-9
    .content-block.project-images
      {{ post.post_image1.url | image_tag: 'class:img-responsive header-img' }}
      {{ post.post_image2.url | image_tag: 'class:img-responsive float-img' }}
      {{ post.post_image3.url | image_tag: 'class:img-responsive' }}
      {{ post.post_image4.url | image_tag: 'class:img-responsive' }}
 

{% endblock %}
