---
title: Posts template
listed: false
published: true
content_type: "posts"
---

{% extends parent %}

{% block 'head' %} 
%small.page-breadcrumb.en-lang News > {{ post.title }}
%small.page-breadcrumb.arb-lang.hidden News - AR > {{ post.title_ar }}
{% endblock %}

{% block main %}

.row.content-padding
  .col-md-3
    .post-block.about
      .post-date
        %p {{ post.posted_at | localized_date: '%m.%d.%y' }}
      .textcol
        %p {{ post.body }}
      .textcol.arb-lang.hidden
        %p {{ post.body_ar }}
  .col-md-9
    .content-block.project-images
      {{ post.post_image1.url | image_tag: 'class:img-responsive header-img' }}
      {{ post.post_image2.url | image_tag: 'class:img-responsive float-img' }}
      {{ post.post_image3.url | image_tag: 'class:img-responsive' }}
      {{ post.post_image4.url | image_tag: 'class:img-responsive' }}
 

{% endblock %}
